.card-1 {
  border-top: 5px solid #ff4f64;
  width: 300px;
  border-radius: 20px;
  background-color: #ffffff;
  margin-bottom: 20px;
  padding: 15px;
}

.card-2 {
  border-top: 5px solid #00a8e7;
  width: 300px;
  border-radius: 20px;
  background-color: #ffffff;
  margin-bottom: 20px;
  padding: 15px;
}

.card-3 {
  border-top: 5px solid #44c4a1;
  width: 300px;
  border-radius: 20px;
  background-color: #ffffff;
  margin-bottom: 20px;
  padding: 15px;
}

.card-4 {
  border-top: 5px solid #fcc200;
  width: 300px;
  border-radius: 20px;
  background-color: #ffffff;
  margin-bottom: 20px;
  padding: 15px;
}

/* Write CSS code here. */

.main-heading {
  color: #171f46;
  font-family: 'Roboto';
  font-size: 20px;
}
.description {
  color: #64748b;
  font-family: 'Roboto';
}
.image-card {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.image-sizing {
  font-size: 20px;
}
