* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f4faff;
}

/* Write CSS code here */

.Title {
  color: #171f46;
  font-family: 'Roboto';
  font-size: 35px;
}
.title-text {
  color: #64748b;
  font-family: 'Roboto';
  font-size: 15px;
}
